body {
        background: url(https://fs09.getcourse.ru/fileservice/file/download/a/298826/sc/467/h/caaddfcac66f5df01d1740fa5c62a29d.jpg);
    }
.video{
    position: relative;
    width: 400px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.vid{
  margin: 20px;
  height: 300px;
  width: 300px;
  border: 3px solid blueviolet;
  border-radius: 10px;
  background: blueviolet;
  padding: 0;
}

h1  {
    color: blueviolet;
}        
