* {
    margin: 0;
    padding: 0;
}
html,
body{
    height: 100%;
    width: 1560px;
    margin: auto;
}
.glav {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
/* header,logo */
header {
    width: 100%;
    height: 105px;
    
}
.header2 {
    position: relative;
    width: 1099px;
    height: 105px;
    left: 230.5px;
    
}
.logo {
    position: absolute;
    width: 502px;
    height: 52px;
    left: 0;
    top: 28px;
}
.frame2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 502px;
    height: 52px;
    left: 0px;
    top: 0px;
}
.Vector1{
    position: static;
left: 0%;
right: 80.08%;
top: 6.58%;
bottom: 6.58%;
}
.Group174 {
    position: static;
width: 387px;
height: 52px;
left: 115px;
top: 0px;

}
.tt1 {
    position: absolute;
    width: 387px;
    height: 15px;
    left: 115px;
    top: 0px;
    
    /* 10 regular uppercase */
    text-decoration: none;
    font-family: 'Mplus 1p',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 9.5px;
    line-height: 15px;
    /* identical to box height */
    
    letter-spacing: 0.02em;
    text-transform: uppercase;
    
    /* body */
    
    color: #323A49;

}

.tt2 {
    text-decoration: none;
    position: absolute;
    width: 386px;
    height: 34px;
    left: 115px;
    top: 18px;
    
    font-family: 'Mplus 1p ExtraBold',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 34px;
    text-transform: uppercase;
    
    /* body */
    
    color: #323A49;
}
.link {
    cursor: pointer;
    position: absolute;
    width: 211px;
    height: 49px;
    left: 553px;
    top: 28px;
}
.eye {
 
    width: 211px;
height: 22px;
display: flex;
}
.icon_eye {
    width: 21px;
    height: 21px;
    margin-right: 10px;
}
.icon2 {
    position: absolute;
    top: 0%;
    left: 0%;
} 
.icon3 {
    position: absolute;
    top: 4px;
    left: 6px;
}
.text_eye {
    width: 180px;
    height: 21px;
    /* 14 regular */

font-family: 'Mplus 1p',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */


/* blue */

color: #275BA8;
}
.old_ver {

    width: 173px;
    height: 22px;
    display: flex;
}
.icon_old {

    width: 21px;
    height: 21px;
    margin-right: 10px;
}
.icon4 {
    position: absolute;
    top: 26px;
    left: 6px;
}
.icon5 {
    position: absolute;
    top: 27px;
    left: 5px;
}
.text_old {

    width: 142px;
    height: 21px;
    /* 14 regular */

    font-family: 'Mplus 1p',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */


    /* blue */

    color: #275BA8;

}
.link1 {
    display: flex;
    position: absolute;
width: 105px;
height: 43px;
left: 819px;
top: 28px;
}
.icon_envelope {

    width: 28px;
    height: 28px;
    margin-right: 10px;
}
.text_envelope {

    width: 69px;
    height: 42px;

    /* 14 bold */

    font-family: 'Mplus 1p Bold',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    /* or 150% */

    display: flex;
    align-items: center;

    /* body */

    color: #323A49;
    

}
.tx_hav {
    text-decoration: none;
    color: #323A49;
}

.link2 {
    display: flex;
    position: absolute;
width: 104px;
height: 44px;
left: 969px;
top: 28px;

}
.icon_user {
    width: 28px;
    height: 28px;
    margin-right: 10px;
}
.text_user {
    width: 68px;
    height: 42px;
    /* 14 bold */

font-family: 'Mplus 1p Bold',sans-serif;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 21px;
/* or 150% */

display: flex;
align-items: center;

color: #334059;
}
/* меню саита */
menu {
    position: absolute;
    width: 1560px;
    height: 50px;
}
main {
    position: relative;
    width: 100%;
    flex: 1 1 auto;
    
}


.bg {
height: 50px;   
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* blue */

background: #275BA8;
}
.Menu {
    Width:1099px; 
    height:50px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    position: absolute;

    left: 230.5px;
    
   

    list-style-type: none; 
}

.blok_menu {
    margin: 15px 29.2px;
}

.text_menu {
    /* 14 bold uppercase */
    font-family: 'Mplus 1p Bold',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}
.lin {
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.05);
}
.img-menu {
    cursor: pointer;
}
/* тела саита  */
/* провадник */
.brcrumbs {
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
list-style-type: none; 

position: absolute;
width: 130px;
height: 16px;
left: 230.5px;
top: 76px;
}
.text-brcrumbs {
    text-decoration: none;
    margin: 0 15px 0 0;
    position: static;
width: 46px;
height: 16px;
left: calc(50% - 46px/2 - 42px);
top: 0px;

/* 12px, 1.3 */

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

/* light grey */

color: #858C9C;
}
/* подвал саита */
footer {
    position: relative;
    width: 100%;
    height: 495px;
    background: #F4F8FD;
    
    
}
.fot-1 {
    line-height: 2.0;
    position: absolute;
    width: 189px;
    height: 181px;
    left: 230.5px;
    top: 50px;
    display: block;
}
.fot-2 {
    line-height: 2.0;
    position: absolute;
    width: 156px;
    height: 88px;
    left: 515.5px;
    top: 50px;
    display: block;
}
.fot-3 {
    line-height: 2.0;
    position: absolute;
    width: 225px;
    height: 306px; 
    left: 734.5px;
    top: 50px;
    display: block;
}
.fot-4 {
    line-height: 2.0;
    position: absolute;
    width: 310px;
    height: 263px;
    left: 1029.5px;
    top: 50px;
    display: block;
}
.title-foot {
    position: relative;
    text-decoration: none;
    font-family: 'Mplus 1p Bold',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    /* body */
    
    color: #323A49;
}
.text-foot {
    position: relative;
    text-decoration: none;
    font-family: 'Mplus 1p',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    
    /* or 150% */

    /* body */
    color: #323A49;

}


